extends layout2

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Welcome to Word 
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Username
            input.form-control(type='text' id='username' placeholder='user name' name='username')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary.pull-left(type='submit') Log in
          div.progress
            div.indeterminate
          div.pull-right 
            p Not a member?
            a(href="/signup") Sign up
          h5.login-error #{messages}
            