html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    style.
      section {
      width: 400px;
      border: 1px solid saddlebrown;
      border-top-color:white;
      border-bottom-color:white;
      padding: 10px;
      margin: 0px auto;
      margin-top:100px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      section>div {
      padding: 10px 0;
      }
      #response{
      color:green;
      box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.19);
      }
      .btns{
      width:170px;
      background-color:#f1f1f1;
      border:none;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      left:0;
      border: 0px solid gray;
      border-radius:0px;
      height:30px;
      padding: 8px 8px 8px 0px;
      }
      .span{
      float: right;
      }
      .btns:hover {
      background-color: #555;
      color: white;
      }
      ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      }
      #search-input{
      border:none;
      border-bottom:1px solid grey;
      -webkit-transition-duration: 2s;
      transition-duration: 2s;
      height:30px;
      }
      #search-input:hover {
      background-color: #555;
      color: white;
      }
      #go{
      border:none;
      background-color:white;
      height:30px;
      }
  body
    section
      #logo
        h1(style='font-family:arial')
          
      #search
        input#search-input(type='text', style='width:170px', placeholder='search...')
        button#go
           search 
        h1#suggestion(style='margin-top:-3px;')
      #response
        span.word
        span.meaning
    script(src='words.json')
    script.
      let input = document.getElementById('search-input');
      let goButton = document.getElementById('go');
      let word = document.getElementsByClassName('word');
      let meaning = document.getElementsByClassName('meaning');
      let suggest = document.getElementById('suggestion');
      function ser(a){
      input.value = a;
      let httpRequest = new XMLHttpRequest();
      var wordText = input.value;
      word[0].textContent = wordText + " : ";
      httpRequest.onreadystatechange = function(){
      if(httpRequest.readyState == XMLHttpRequest.DONE){
      if(httpRequest.status == 200){
      meaning[0].textContent = httpRequest.responseText;
      }
      else{
      meaning[0].textContent = "";
      }
      }
      }
      httpRequest.open('GET', '/dictionary?word=' + wordText, true);
      httpRequest.send();
      }
      input.oninput = function(){
      let httpRequest = new XMLHttpRequest();
      var wordText = input.value;
      // word[0].textContent = wordText + " : ";
      if(wordText != ""){
      httpRequest.onreadystatechange = function(){
      if(httpRequest.readyState == XMLHttpRequest.DONE){
      if(httpRequest.status == 200){
      suggestion.innerHTML = httpRequest.responseText;
      }
      else{
      meaning[0].textContent = "";
      }
      }
      }
      httpRequest.open('GET', '/suggestion?word=' + wordText, true);
      httpRequest.send();
      }else{
      suggestion.innerHTML = "";
      }
      }
      goButton.onclick = function(){
      let httpRequest = new XMLHttpRequest();
      var wordText = input.value;
      word[0].textContent = wordText + " : ";
      httpRequest.onreadystatechange = function(){
      if(httpRequest.readyState == XMLHttpRequest.DONE){
      if(httpRequest.status == 200){
      meaning[0].textContent = httpRequest.responseText;
      }
      else{
      meaning[0].textContent = "";
      }
      }
      if(httpRequest.readyState ==4){
      var display = document.getElementById('search-input');
      display.innerHTML = httpRequest.responseText;
      }
      }
      httpRequest.open('GET', '/dictionary?word=' + wordText, true);
      httpRequest.send();
      }
